/* index design */


.container,
.row,
.h2 {
    text-align: center;
}

.login-container {
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 3%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #f8f9fa;
}

.login-form-1 {
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form-1 h3 {
    text-align: center;
    color: #333;
    font-size: xx-large;
}

.login-form-3 {
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form-3 h3 {
    text-align: center;
    color: #f7fbfb;
}

.login-container form {
    padding: 10%;
}

.btnSubmit {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.login-form-1 .btnSubmit {
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}

.login-form-3 .btnSubmit {
    font-weight: 600;
    color: #030303;
    background-color: #ad9aff;
}

.login-form-2 .ForgetPwd {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.login-form-1 .ForgetPwd {
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}


/* Dashboard Design */

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 10px;
    text-align: left;

}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tr:hover {
    background-color: #ddd;
}

/* Book Managment Interface */

.book-card {
    display: inline-block;
    width: 200px;
    margin: 15px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}